* {
    padding: 0;
    margin: 0;
    color: white;
  }
  
  .blockAmamrillo {
    float: left;
    display: block;
    background-color: yellow;
    height: 50px;
    margin: 10px;
    padding: 10px;
    width: 170px;
  
  }
  
  .blockAzul {
    display: block;
    float: left;
    background-color: blue;
    height: 50px;
    margin: 10px;
    padding: 10px;
    width: 170px;
  
  }
  
  .blockNaranja {
    clear: both;
    background-color: orange;
    height: 50px;
    width: 380px;
    margin: 10px;
    padding: 10px;
  }
  
  .blockVioleta {
    display: block;
    background-color: violet;
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
  }
  .block3{
      width: 450px;
      background-color: red;
  }
  
  .block3 .blockAzul{
      width: 100px;
  }
  
  .block3 .blockAmamrillo{
      width: 100px;
  }
  
  .block3 .blockVioleta{
      width: 100px;
  }

  a.menu{
    width: 60px;
    display: block;
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    float: left;
    margin: 5px;
    padding: 10px;

  }

a:hover{
    background-color: brown;
}
a:active{
    background-color: black;
    color: white;
}

.contentImg img{
    float: left;
}

.contentImg p{
    color: black;

}