h1 {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    width: 800px;
    background-color: darkblue;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0, 1, 1, 49)
}